#newBlogCard{
    height: 40vh;
}

#viewBlogsCard{
    height: 40vh;
}

#restaurantsCard{
    height: 40vh;
}

.landingCardText{
    color: white;
    margin-top: 200px;
    padding: 5px;
}

.landingCard{
    background-image: url("http://www.tompetty.com/sites/g/files/g2000007521/f/Sample-image10-highres.jpg");
    background-size: "cover";
}

.blogPageTextBox{
    margin-top: 32px;
}

.descriptionArea{
    height: 150px;
}

.cardImages{
    margin-bottom: 15px;
}