    <div class="container">
        <div class="row">

            <a href="/newBlog">
                <div class="col-md-4">
                    <div id="newBlogCard" class="card landingCard" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title text-center landingCardText">New Blog</h5>
                        </div>
                    </div>
                </div>
            </a>

            <a href="/viewBlogs">
                <div class="col-md-4">
                    <div id="viewBlogsCard" class="card landingCard" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title text-center landingCardText">Review Blogs</h5>
                        </div>
                    </div>
                </div>
            </a>

            <a href="/restaurants">
                <div class="col-md-4">
                    <div id="restaurantsCard" class="card landingCard" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title text-center landingCardText">New Restaurants</h5>
                        </div>
                    </div>
                </div>
            </a>

        </div>
    </div>